* {
    box-sizing: border-box;
}

:root {
    --primary-color: #7264D6;
    --black-brand-color: #212832;
    --black-color: #333;
    --white-color: #fff;
    --text-color-76: #696D76;
    --text-color-77: #696D77;
    --text-color-78: #6A6E78;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;

}

input,
form button {
    font-family: inherit;
    font-size: inherit;
}

/* Common */
a {
    text-decoration: none;
}


.text-truncate {
    display: var(--text-truncate-display);
    -webkit-line-clamp: var(--line-clamp-lines);
    -webkit-box-orient: var(--text-truncate-orient);
    overflow: hidden;
    text-overflow: ellipsis;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 149px;
    min-height: 58px;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--white-color);
    line-height: 58px;
    background: var(--black-brand-color);
    border-radius: 8px;
    border: 2px solid var(--black-brand-color);
    transition: background, color, border-color;
    transition-duration: 0.3s;
}

.btn:hover {
    background: transparent;
    color: var(--black-color);
    border-color: var(--black-brand-color);
}

.btn-form-common {
    outline: none;
    border: none;
    position: absolute;
    right: 1.5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6rem;
    font-weight: 600;
    width: 149px;
    height: 58px;
    color: var(--white-color);
    background: var(--primary-color);
    border: 2px solid var(--primary-color) !important;
    border-radius: 6px;
    transition: background, color, border-color;
    transition-duration: 0.3s;
    cursor: pointer;
}

.btn-form-common:hover {
    color: var(--primary-color);
    background: var(--white-color);
    border-color: var(--primary-color);
}

.heading-common {
    font-size: 4rem;
    font-weight: 700;
    color: var(--black-brand-color);
    line-height: 1.25;
}

.desc {
    margin-top: 20px;
    color: var(--text-color-76);
    font-size: 1.8rem;
    line-height: 1.66;
}

.span-common {
    position: relative;
    padding-left: 30px;
    font-size: 1.6rem;
    color: var(--text-color-77);
}

.span-common::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 2px;
    background: var(--text-color-77);
}

/* Header */
.header {
    background: var(--white-color);
    padding: 42px 0 8px;
}

.header-fixed {
    position: sticky;
    top: -30px;
    z-index: 99;
}

.header__wapper {
    display: flex;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    margin-right: 70px;
    column-gap: 7px;
}

.header__logo--img {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.header__logo--text {
    color: var(--black-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.header__list {
    display: flex;
    column-gap: 37px;
}

.header__item {
    position: relative;
    color: var(--text-color-76);
    font-size: 1.6rem;
    padding: 8px 7px;
    transition: all .2s;

}

.header__item:hover {
    color: var(--black-color);
    text-shadow: 1px 0 0 currentColor;
}

.header__item:not(.active)::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: var(--primary-color);
    transition: width 0.6s ease-in-out;

}

.header__item:not(.active):hover::after {
    width: 100%;
    left: 0;
}

.header__item.active {
    position: relative;
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
}

.header__item.active::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary-color);
    width: 80%;
    height: 1px;
}


.header__btn {
    display: flex;
    align-items: center;
    column-gap: 28px;
    margin-left: auto;
}

.header__btn--login {
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all .3s;
}

.header__btn--login:hover {
    color: #212832;
    text-shadow: 0.5px 0 0 currentColor;
}

.header__btn--signup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 113px;
    color: var(--white-color);
    line-height: 52px;
    font-weight: 600;
    background: var(--black-brand-color);
    border-radius: 6px;
    border: 2px solid var(--black-brand-color);
    transition: background, color, border-color;
    transition-duration: 0.3s;
}

.header__btn--signup:hover {
    background: transparent;
    color: var(--black-color);
    border-color: var(--black-brand-color);
}

/* Hero */
.hero {
    width: 100%;
    padding: 44px 0 80px;
    background: var(--white-color);
}

.hero__wapper {
    display: flex;
    align-items: center;
    column-gap: 160px;
}

.hero__text {
    width: 46%;
}

.hero__heading {
    display: block;
    width: 500px;
    margin-top: 12px;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
}

.hero__heading-span {
    color: var(--primary-color);
}

.hero__form {
    margin-top: 40px;
}

.hero__form--container {
    display: flex;
    position: relative;
}

.form__input {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    width: 540px;
    height: 74px;
    padding: 23px 165px 23px 23px;
    border-radius: 8px;
    background: var(--white-color);
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
    caret-color: var(--primary-color);
}

.form__input::placeholder {
    font-size: 1.6rem;
    color: var(--text-color-76);
}

.hero__form-span {
    display: block;
    margin-top: 20px;
    color: var(--text-color-76);
    font-size: 1.4rem;
    font-weight: 600;
}

.hero__image {
    position: relative;
    width: 296px;
    height: 562px;
}

.hero__image--inner {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 52px 23px 42px 23px;
}

.hero__image--inner {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-image: url(../images/bg-phone.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__visa,
.payments__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 150px;
    padding: 16px;
    border-radius: 20px;
}

.hero__visa::before,
.hero__visa::after,
.payments__card::before,
.payments__card::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.hero__visa::before,
.payments__card::before {
    background-image: url(../images/bg-visa.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

.hero__visa::after,
.payments__card::after {
    background: linear-gradient(76deg, #30ACEA 11.52%, #316FEA 70.78%);
    z-index: 1;
    border-radius: 20px;
}

.hero__visa--top,
.payments__card--top {
    position: relative;
    z-index: 3;
}

.hero__visa--top::before,
.hero__visa--top::after,
.payments__card--top::before,
.payments__card--top::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #FEEF65;
    border-radius: 50%;
}

.hero__visa--top::before,
.payments__card--top::before {
    right: 0;
    opacity: 0.8;
    z-index: 4;
}

.hero__visa--top::after,
.payments__card--top::after {
    top: 0;
    right: 5%;
    background: #FE6565;
    opacity: 0.8;
}

.hero__visa--heading,
.payments__card--heading {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--white-color);
}

.hero__visa--money,
.payments__money {
    display: block;
    margin-top: 4px;
    color: var(--white-color);
    font-size: 2.2rem;
    font-weight: 700;
}

.hero__visa--bottom,
.payments__card--bottom {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 5px 12px;
}

.hero__visa--bottom-text,
.payments__card--bottom-text {
    display: block;
    color: var(--white-color);
    font-size: 1rem;
    z-index: 4;
}

.hero__visa--bottom-text:nth-child(3),
.hero__visa--bottom-text:nth-child(4) {
    font-size: 1.2rem;
    font-weight: 600;
    white-space: nowrap;
}

.transections {
    margin-top: 24px;
}

.transections__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transections__heading {
    color: #31456A;
    font-size: 1.6rem;
    font-weight: 600;
}

.transections__list {
    width: 14px;
    height: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.transections__item {
    width: 14px;
    height: 2px;
    background: #31456A;
    border-radius: 10px;
}

.transections__item:nth-child(2) {
    width: 9px;
}

.transections__item:nth-child(3) {
    width: 5px;
}

.transections__bottom {
    margin-top: 28px;
}

.transections__bottom {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.transections__bottom--list,
.sendmoney {
    display: flex;
    align-items: center;
}

.transections__bottom-image,
.sendmoney__image {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #EDF8FC;
    border-radius: 8px;
    object-fit: cover;
}

.transections__bottom--img,
.sendmoney__img {
    color: #4AB5E3;
}

.transections__bottom--group,
.sendmoney__grounp {
    margin-left: 14px;
}

.transections__bottom--heading,
.sendmoney__heading {
    font-size: 1.4rem;
    font-weight: 600;
}

.transections__bottom--desc,
.transections__money--bottom,
.sendmoney__desc {
    width: 100%;
    height: 100% !important;
    font-size: 1rem;
    margin-top: 6px;
    line-height: normal;
}

.transections__bottom--money,
.sendmoney__money {
    margin-left: auto;
    text-align: right;
}

.transections__money--top,
.sendmoney__money--top {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: normal;
}

.hero__deposite {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -34%;
    top: 20%;
    width: 174px;
    padding: 14px 10px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
    z-index: 6;
}

.hero__deposite--img {
    margin-right: 8px;
    width: 18px;
    height: 18px;
    object-fit: cover;
}

.hero__deposite--span {
    margin-top: 0;
    color: #31456A;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: normal;
}

.hero__deposite--number {
    margin-top: 0;
    margin-left: auto;
    color: #4AB5E3;
    font-size: 1.4rem;
    line-height: normal;
}

.hero__secured {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 11px;
    position: absolute;
    top: 78%;
    right: -30%;
    height: 68px;
    padding: 20px 14px;
    background: #439F90;
    border-radius: 10px;
}

.hero__secured--img {
    width: 20px;
    height: 26px;
    object-fit: cover;
}

.hero__secured--wapper {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.hero__secured--number,
.hero__secured--text {
    margin-top: 0;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 600;
    line-height: normal;
}

.hero__secured--text {
    font-size: 1rem;
    font-weight: 400;
}

.hero__interest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 23%;
    left: 115%;
    width: 130px;
    height: 130px;
    padding: 30px;
    background: #DA6464;
    border-radius: 50%;
    z-index: 6;
}

.interest__number,
.interest__text {
    color: var(--white-color);
}

.interest__number {
    font-size: 4.4rem;
    font-weight: 600;
}

.interest__text {
    font-size: 1.6rem;
    font-weight: 400;
}

/* Works */
.works {
    padding: 80px 0;
    background: var(--white-color);
}

.works__wapper {
    display: flex;
    align-items: center;
    column-gap: 230px;
}

.works__images {
    position: relative;
    width: 41%;
    height: 619px;
    z-index: 2;
    flex-shrink: 0;
}

/* .works__images::before,
.works__images::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 88%;
    z-index: -1;
} */

.works__images::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 89%;
    background-image: url(../images/bg-image-works.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.works__img--people {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 456px;
    height: 619px;
    object-fit: cover;
}

.works__congra {
    position: absolute;
    top: 79%;
    left: 73%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    width: 226px;
    height: 70px;
    padding: 15px;
    border-radius: 8px;
    background: #FFFDFA;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.works_congra--icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.work__congra--container {
    display: flex;
    flex-direction: column;
}

.work__congra--title,
.work__congra--desc {
    color: var(--black-brand-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.work__congra--desc {
    margin-top: 5px;
    color: var(--text-color-76);
    font-size: 1.2rem;
    font-weight: 400;
}

.works__icon--card {
    position: absolute;
    top: 12%;
    left: 75%;
}

.works__heading {
    margin-top: 12px;
}

.works__list--heading {
    color: var(--black-brand-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}

.works__desc {
    margin-top: 16px;
    color: var(--text-color-76);
    font-size: 1.6rem;
    line-height: 1.75;
}

.works__list:nth-of-type(1) {
    margin-top: 70px;
}

.works__list {
    display: flex;
    flex-direction: column;
}

.works__list:nth-of-type(2),
.works__list:nth-of-type(3) {
    margin-top: 30px;
}

/* Payments */
.payments {
    padding: 80px 0;
    background: var(--white-color);
}

.payments__wapper {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.payments__content {
    width: 41%;
    flex-shrink: 0;
}

.payments__heading,
.money__content--heading {
    margin-top: 12px;
}

.payments__list,
.money__content--list {
    margin-top: 28px;
}

.payments__item,
.money__content--item {
    position: relative;
    padding-left: 24px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.payments__item:before,
.money__content--item::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: translateY(-50%);
    background: var(--primary-color);
}

.payments__item+.payments__item,
.money__content--item+.money__content--item {
    margin-top: 18px;
}

.payments__btn,
.money__content--btn {
    margin-top: 38px;
    width: 149px;
    height: 58px;
}

/* Card */
.payments__image {
    width: 482px;
    position: relative;
}

.payments__card {
    width: 482px;
    height: 322px;
    padding: 38px;
}

.payments__card::before {
    background-image: url(../images/bg-visa-02.png);
}

.payments__card--heading {
    font-size: 2rem;
}

.payments__money {
    margin-top: 10px;
    font-size: 3.2rem;
}

.payments__card--top::before,
.payments__card--top::after {
    width: 48px;
    height: 48px;
}

.payments__card--top::after {
    right: 7%;
}

.payments__card--bottom {
    gap: 4px 26px;
}

.payments__card--bottom-text {
    display: block;
    white-space: nowrap;
}

.payments__card--bottom-text:nth-of-type(1),
.payments__card--bottom-text:nth-of-type(4) {
    font-size: 2rem;
    font-weight: 400;
}

.payments__card--bottom-text:nth-of-type(2),
.payments__card--bottom-text:nth-of-type(3) {
    font-size: 2.2rem;
    font-weight: 600;
}



.sendmoney {
    width: 276px;
    height: 86px;
    padding: 23px 13px;
    background: var(--white-color);
    border-radius: 12px;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
    z-index: 5;
}

.sendmoney {
    position: absolute;
    top: -48px;
    left: 61%;
}

.sendmoney__image {
    background: #FBF0F0;
}

.sendmoney__heading,
.sendmoney__desc,
.sendmoney__money--top,
.sendmoney__money--bottom {
    font-family: Inter, sans-serif;
}

.sendmoney__heading {
    font-size: 1.2rem;
    font-weight: 500;
}

.sendmoney__desc {
    margin-top: 4px;
}

.sendmoney__money--top {
    color: var(--black-brand-color);
    font-size: 1.6rem;
    font-weight: 400;
}

.sendmoney__money--bottom {
    display: block;
    margin-top: 5px;
    font-size: 1rem;
    color: var(--text-color-76);
}

.income {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    left: 93%;
    bottom: -55px;
    padding: 15px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439F90;
    z-index: 5;
}

.income__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: var(--white-color);
    border-radius: 8px;
}

.income__img {
    width: 14px;
    height: 14px;
    object-fit: cover;
}

.income__heading {
    margin-top: 14px;
    color: #FFF;
    font-size: 1.2rem;
}

.income__money {
    margin-top: 6px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 600;
}

/* Money */
.money {
    padding: 80px 0;
    background: var(--white-color);
}

.money__wapper {
    display: flex;
    column-gap: 230px;
    position: relative;
}

.money__imgaes {
    flex-shrink: 0;
    position: relative;
    width: 470px;
    z-index: 2;
    border-radius: 8px;
    overflow: hidden;
}

.money__imgaes::before {
    position: absolute;
    display: inline-block;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 72%;
    background: #92C2C2;
    border-radius: 8px;
    transform: skewY(-12deg);
    transform-origin: top right;
    z-index: -1;
    overflow: hidden;
    border-radius: 8px
}


.money__img {
    display: block;
    width: 413px;
    height: 600px;
    object-fit: cover;
}

.money__bank {
    position: absolute;
    left: 23%;
    top: 54%;
    width: 281px;
    height: 220px;
    padding: 28px;
    background: var(--white-color);
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.10));
    border-radius: 8px;
    z-index: 6;
}

.money__bank--heading {
    color: var(--black-brand-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.money__bank--list {
    margin-top: 20px;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 18px;
}

.money__bank--img {
    width: 63px;
    height: 48px;
    object-fit: cover;
}

.money__bank--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F9EA63;
    border-radius: 4px;
}

.money__icon--shape {
    position: absolute;
    top: 50%;
    left: 42.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background: #7264D6;
    border-radius: 50%;
    z-index: 6;
}

.money__icon--shape img {
    width: 42px;
    height: 24px;
    object-fit: cover;
}

/* Client */
.client {
    padding: 80px;
    background: var(--white-color);
}

.client__wapper {
    display: flex;
    flex-direction: column;
}

.client__header {
    text-align: center;
}

.client__heading {
    margin-top: 12px;
}

.client__desc {
    display: block;
    width: 435px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6rem;
    line-height: 1.75;
}

.client__inner {
    display: flex;
    column-gap: 30px;
}

.client__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    gap: 103px 0;
    cursor: grab;
}

.client__slide:active {
    cursor: grabbing;
}

.client__slide--box {
    position: relative;
    width: 570px;
    height: 254px;
    padding: 42px 28px;
    border: 1px solid #DFE2E8;
    border-radius: 8px;
    transition: box-shadow 0.3s, border-color 0.3s;

}

.client__slide--box:hover {
    box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.07);
    border-color: transparent;
}

.client__slide--box:hover::before {
    filter: none;
}

.client__slide--box::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: -120px;
    transform: translateX(-50%);
    border: 60px solid;
    border-color: var(--white-color) transparent transparent transparent;
    filter: drop-shadow(0px 1px 0px #DFE2E8);
    rotate: -360deg;
    transform-origin: top center;
    transition: filter 0.3s;
}

.client__slide--desc {
    color: var(--text-color-76);
    text-align: center;
    font-size: 2.2rem;
    line-height: 1.54;
}

.client__slide--info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.client__slide--avt {
    width: 104px;
    height: 104px;
    border-radius: 52px;
    object-fit: cover;
}

.client__slide--name {
    margin-top: 20px;
    color: #070052;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.client__slide--position {
    margin-top: 2px;
    color: var(--text-color-76);
    font-size: 1.8rem;
    line-height: 1.66;
}

.client__slide--box {
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.client__dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.client__dot-item,
.client__dot-item.active {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid --text-color-78;
    background: var(--text-color-78);
    transition: background;
    cursor: pointer;
}

.client__dot-item:hover {
    background: var(--primary-color);
}

.client__dot-item.active {
    background: var(--primary-color);
}

/* Blog */
.blog {
    padding: 80px 0;
    background: var(--white-color);
}

.blog__header {
    display: flex;
    flex-direction: column;
}

.blog__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.blog__header--heading {
    margin-top: 6px;
}

.blog__header--desc {
    width: 435px;
    margin-top: 18px;
    font-size: 1.6rem;
}

.blog__wrapper {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 30px;
    margin-top: 70px;
}

.blog__item {
    display: flex;
    align-items: center;
    column-gap: 22px;
    width: 570px;
    height: 216px;
    padding: 28px;
    border-radius: 12px;
    border: 1px solid #DFE2E8;
    background: #FFF;
    transition: box-shadow 0.3s;
}

.blog__item:hover {
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.blog__item--img {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    object-fit: cover;
}

.blog__info--date {
    display: block;
    color: var(--text-color-76);
    font-size: 1.4rem;
    line-height: 1.71;
}

.blog__info--heading {
    display: block;
    margin-top: 10px;
    color: var(--black-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66;
}

.blog__info--cta {
    display: block;
    margin-top: 20px;
    width: fit-content;
    color: var(--primary-color);
    font-size: 1.6rem;
    transition: opacity 0.3s;
}

.blog__info--cta:hover {
    opacity: 0.7;
}

/* Down app */
.down {
    padding: 80px 0;
    background: var(--white-color);
}

.down__wapper {

    background: var(--primary-color);
}

.down__wapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 466px;
    background: var(--primary-color);
    border-radius: 24px;
}

.down__span::before {
    background: var(--white-color);
}

.down__span {
    color: var(--white-color);
    z-index: 3;
}

.down__heading {
    margin-top: 12px;
    color: var(--white-color);
    z-index: 3;
}

.down__desc {
    margin-top: 18px;
    text-align: center;
    width: 435px;
    color: var(--white-color);
    font-size: 1.6rem;
    line-height: 1.75;
    z-index: 3;
}

.down__app {
    display: flex;
    column-gap: 16px;
    margin-top: 38px;
    cursor: pointer;
    z-index: 3;
}

.down__app--btn {
    width: 182px;
    height: 64px;
    padding: 18px 31px;
    background: var(--white-color);
    border-radius: 6px;
    transition: background 0.5s;
}

.down__app--btn:hover {
    background: var(--black-brand-color);
}

.down__app--img {
    width: 119px;
    height: 28px;
    object-fit: cover;
}

.down__shape {
    position: absolute;
    z-index: 1;
}

.down__shape:nth-of-type(1) {
    top: 11%;
    left: 10%;
}

.down__shape:nth-of-type(2) {
    top: 11%;
    right: 10%;
}

.down__shape:nth-of-type(3) {
    top: 56%;
    left: 14%;
}

.down__shape:nth-of-type(4) {
    top: 56%;
    right: 14%;
}

/* Footer */
.footer {
    margin-top: 20px;
    padding-top: 100px;
    background: #FAFBFF;
}

.footer__wapper {
    display: flex;
    column-gap: 163px;
}

.footer__column--heading {
    color: var(--black-brand-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.footer__list {
    margin-top: 24px;
}

.footer__item {
    color: var(--text-color-78);
    font-size: 1.8rem;
    opacity: 0.75;
    transition: text-shadown 0.3s, opacity 0.3s;
}

.footer__item:hover {
    text-shadow: 1px 0 0 var(--text-color-78);
    opacity: 0.75;
}

.footer__list li+li {
    margin-top: 26px;
}

.ooter__desc {
    margin-top: 24px;
}

.footer__column--heading-2 {
    margin-top: 48px;
}

.footer__form {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-top: 24px;
}

.footer__form input {
    color: #8E919A;
    font-size: 1.6rem;
}

.footer__input {
    outline: none;
    border: none;
    width: 270px;
    height: 52px;
    padding: 12px;
    border: 1px solid #8E919A;
    border-radius: 6px;
    caret-color: var(--primary-color);
}

.footer__input:focus {
    border-color: var(--primary-color);
}

.footer__form--submit {
    min-width: 113px;
    height: 52px;
    min-height: 52px;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    transition: background 0.3s;
    cursor: pointer;
}

.footer__form--submit:hover {
    background: var(--white-color);
}

.footer__info {
    margin-top: 54px;
    display: flex;
    column-gap: 100px;
}

.footer__email,
.footer__phone {
    color: var(--text-color-78);
    font-size: 1.8rem;
    text-decoration: underline;
}

.footer__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
    width: 100%;
    padding: 28px 0;
    background: var(--primary-color);
}

.footer__copyright--text {
    color: var(--white-color);
    text-align: center;
    font-size: 1.6rem;
}